# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

config.dart


.DS_Store
.atom/
.idea
.packages 2
.pub/
build/
ios/.generated/
ios/Flutter/Flutter 2.podspec
ios/Flutter/Generated 2.xcconfig
ios/Flutter/flutter_export_environment 2.sh
.packages 2
pubspec.lock
.flutter-plugins 2
.flutter-plugins-dependencies 2