<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199335070358-dv4d15fvp78q0502ffcrspbvu3317g1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199335070358-dv4d15fvp78q0502ffcrspbvu3317g1v</string>
	<key>API_KEY</key>
	<string>AIzaSyAuhbJqL8jE-1ZD8XaYPUtQp7FEbikQiNs</string>
	<key>GCM_SENDER_ID</key>
	<string>199335070358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dudebarz.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>newapp-847ed</string>
	<key>STORAGE_BUCKET</key>
	<string>newapp-847ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199335070358:ios:29f3a9dbe80831bcb190b7</string>
</dict>
</plist>